/*!
  Bodega-V2 CSS particularities.
  Override bootstrap.css and main.css here

*/

div.screenshot {
    width:90%;
    margin:20px;
    background-color:#D0E7EF;
    }
.screenshot > .container {
    width:98%;
    padding:10px;
    }

table tbody tr td {
    font-famiy: Helvetica;
    font-size: 10pt;
    padding:5px;
}