/*!
  Bodega-V2 CSS particularities.
  Override bootstrap.css and main.css here

*/

div.screenshot {
    width:90%;
    margin-left :auto;
    margin-right : auto;
    border : 1px solid #C0C0C0;
    background-color:#D0E7EF;
    box-shadow: 10px 10px 5px grey;
    }

.screenshot > .container {
    width: 85%;
    padding: 1%;
    margin-top : 1%;
    margin-bottom : 1%;
    margin-left : auto;
    margin-right : auto;
    float: middle;
    border : 1px solid #C0C0C0;
    background-color:#D0E7E0;
    box-shadow: 5px 5px 5px grey;
}

.container > form {
    float: none;
    margin-left: auto;
    margin-right:auto;
}


fieldset {
    margin-left: auto;
    margin-right:auto;
}

table {
    width: 90%;
    margin-left: auto;
    margin-right:auto;
    margin-top: 1%;
    margin-bottom: 1%;
    border: 1px solid #C0C0C0;
}

table tbody tr td {
    font-famiy: Helvetica;
    font-size: 10pt;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 15px;
    padding-left: 15px;
}


input[type="text"] {
    width: 80%;
}

input[type="date"] {
    width: 45%;
}

.help-block {
  color: #B00000;
}
