@(title: String)(content: Html)(implicit flash:Flash, lang:Lang)
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bodega-v2.css")'>
</head>
<body>
<div class="screenshot">
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">
                        @Messages("application.name")
                    </a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li >
                            <a href="@routes.Wines.newWine()">
                                <img width="26px" height="26px" alt='@Messages("application.alt.add")' src='@routes.Assets.at("images/admin/add-item.png")' />
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li >
                            <a href="@routes.Wines.list()">
                                <img width="26px" height="23px" alt='@Messages("application.alt.list")' src='@routes.Assets.at("images/admin/list.png")' />
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            @if(flash.get("success").isDefined) {
            <div class="alert alert-success">
                @flash.get("success")
            </div>
            }

            @if(flash.get("error").isDefined) {
            <div class="alert alert-error">
                @flash.get("error")
            </div>
            }
            @content
            @debug()
        </div>
</div>
</body>
</html>