@(title: String)(content: Html)(implicit flash:Flash, l:Lang)
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bootstrap.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/main.css")'>
    <link rel="stylesheet" media="screen" href='@routes.Assets.at("stylesheets/bodega-v2.css")'>
</head>
<body>

        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="@routes.Application.index()">
                        @Messages("application.name")
                    </a>
                    <ul class="nav">
                        <li class="divider-vertical"></li>
                        <li >
                            <a href="@routes.Wines.newWine()">
                                <img width="26px" height="26px"
                                     alt='@Messages("application.alt.add")'
                                     src='@routes.Assets.at("images/admin/add-item.png")'
                                     title='@Messages("application.wine.tooltip.add")' />
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                        <li >
                            <a href="@routes.Wines.list()">
                                <img width="26px" height="23px"
                                     alt='@Messages("application.alt.list")'
                                     src='@routes.Assets.at("images/admin/list.png")'
                                     title='@Messages("application.wine.tooltip.list")' />
                            </a>
                        </li>
                        <li class="divider-vertical"></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            @if(flash.get("success").isDefined) {
            <div class="alert alert-success">
                @flash.get("success")
            </div>
            }

            @if(flash.get("error").isDefined) {
            <div class="alert alert-error">
                @flash.get("error")
            </div>
            }
            @content
            @debug()
        </div>
<footer>

    @helper.form(action = routes.Wines.changeLocale(), 'class -> "change-locale") {
    <label>@Messages("languages")
        <select name="locale">
            @play.api.i18n.Lang.availables(play.api.Play.current).map { lang =>
            <option value="@lang.code" @(if(l.code == lang.code) "selected")>@Messages("lang." + lang.code)</option>
            }
        </select>
    </label>
    }
    @helper.requireJs(module = routes.Assets.at("javascripts/wines").url, core = routes.Assets.at("javascripts/require.js").url)

</footer>
</body>
</html>