@(wineForm:Form[Wine], years:List[Int], countries:List[String], grapes:List[Option[String]])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("wines.form")) {

    @helper.form(action = routes.Wines.save()) {
    <div class="col-xs-12 col-sm-12">

        <div class="row row-content">

        <form class="form-horizontal" role="form">


            <div class="form-group">
                <div class="col-xs-12 col-sm-10">

                    <div class="form-group">
                        <label for="wineName" class="col-xs-12 col-sm-1 control-label">@Messages("wine.name")<span style="color:red">*</span></label>
                        <div class="col-xs-12 col-sm-4">
                            <input class="form-control" type="text" id="wineName" name="wineName" placeholder='@Messages("wine.name")'>
                        </div>

                        <label for="wineType" class="col-xs-12 col-sm-1 control-label">@Messages("wine.type")</label>
                        <div class="col-xs-12 col-sm-2">
                            <select class="form-control" id="wineType" name="wineType">
                                <option value="red">@Messages("wine.red")</option>
                                <option value="white">@Messages("wine.white")</option>
                                <option value="rose">@Messages("wine.rose")</option>
                                <option value="cava">@Messages("wine.cava")</option>
                                <option value="champagne">@Messages("wine.champagne")</option>
                            </select>
                        </div>

                        <label for="wineCountry" class="col-xs-12 col-sm-1 control-label">@Messages("wine.country")</label>
                        <div class="col-xs-12 col-sm-3">
                            <input class="form-control" type="text" id="wineCountry" name="wineCountry" placeholder='@Messages("wine.country")' list="countries">
                                <datalist id="countries">
                                    @for(country <- countries) {
                                      <option>@country</option>
                                    }
                                </datalist>
                        </div>



                    </div>

                    <div class="form-group">
                        <label for="wineYear" class="col-xs-12 col-sm-1 control-label">@Messages("wine.year")</label>
                        <div class="col-xs-12 col-sm-2">
                            <input class="form-control" type="text" id="wineYear" name="wineYear" placeholder='@Messages("wine.year")' list="years">
                                <datalist id="years" >
                                    @for(year <- years) {
                                    <option>@year</option>
                                    }
                                </datalist>
                        </div>
                        <label for="wineDenomOrigin" class="col-xs-12 col-sm-2 control-label">@Messages("wine.do")</label>
                        <div class="col-xs-12 col-sm-4">
                            <input class="form-control" type="text" id="wineDenomOrigin" name="wineDenomOrigin" placeholder='@Messages("wine.do")'>
                        </div>
                        <label for="winePrice" class="col-xs-12 col-sm-1 control-label">@Messages("wine.price")</label>
                        <div class="col-xs-12 col-sm-2">
                            <input class="form-control" type="text" id="winePrice" name="winePrice" placeholder='0.0'>
                        </div>



                    </div>

                            <!-- http://en.wikipedia.org/wiki/List_of_grape_varieties  -->

                    <div class="form-group">
                        <label for="wineGrapes" class="col-xs-12 col-sm-1 control-label">@Messages("wine.grapes")</label>
                        <div class="col-sm-11">
                            <input class="form-control" type="text" id="wineGrapes" name="wineGrapes" placeholder='@Messages("wine.grapes")' list="grapes">
                                <datalist id="grapes">
                                    @for(grape <- grapes) {
                                      <option>@grape</option>
                                    }
                                </datalist>
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="wineDescription" class="col-xs-12 col-sm-2 control-label">@Messages("wine.description")</label>
                        <div class="col-xs-12 col-sm-10">
                            <textarea class="form-control" type="text" id="wineDescription" name="wineDescription" placeholder='@Messages("wine.description")'></textarea>
                        </div>


                    </div>

                </div>  <!-- otter group form for name, description etc -->

                <div class="col-xs-12 col-sm-2">

                    <div class="form-group">
                        <div class="col-xs-12 col-sm-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <button type="file" name="changephoto" class="btn btn-primary">Change..</button>
                                </div>
                                <div class="panel-body">
                                   <img class="media-object img-thumbnail"
                                       src='@routes.Assets.at("images/wine-thmb.jpg")' alt="wine">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



        </div>    <!-- outter form-group -->











            <div class="form-group">
                <label for="wineCeller" class="col-xs-12 col-sm-1 control-label">@Messages("wine.celler")</label>
                <div class="col-xs-12 col-sm-5">
                    <input class="form-control" type="text" id="wineCeller" name="wineCeller" placeholder='@Messages("wine.celler")'>
                </div>

                <label for="wineVender" class="col-xs-12 col-sm-1 control-label">@Messages("wine.vender")</label>
                <div class="col-xs-12 col-sm-5">
                    <input class="form-control" type="text" id="wineVender" name="wineVender" placeholder='@Messages("wine.vender")'>
                </div>
            </div>

            <div class="form-group">
                <label for="wineDatePurchased" class="col-xs-12 col-sm-1 control-label">@Messages("wine.date.purchased")</label>
                <div class="col-xs-12 col-sm-4">
                    <input class="form-control" type="text" id="wineDatePurchased" name="wineDatePurchased" placeholder='(yyyy-MM-dd)'>
                </div>

                <label for="wineDateOpened" class="col-xs-12 col-sm-1 control-label">@Messages("wine.date.opened")</label>
                <div class="col-xs-12 col-sm-4">
                    <input class="form-control" type="text" id="wineDateOpened" name="wineDateOpened" placeholder='(yyyy-MM-dd)'>
                </div>

                <label for="wineAlcohol" class="col-xs-12 col-sm-1 control-label">@Messages("wine.alcohol")</label>
                <div class="col-xs-12 col-sm-1">
                    <input class="form-control" type="text" id="wineAlcohol" name="wineAlcohol" placeholder='0'>
                </div>


            </div>
            <div class="form-group">
                <label for="wineComments" class="col-xs-12 col-sm-1 control-label">@Messages("wine.comments")</label>
                <div class="col-xs-12 col-sm-11">
                    <textarea class="form-control" type="text" id="wineComments" name="wineComments" placeholder='@Messages("wine.comments")'></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12 col-sm-2">
                    <button type="submit" class="btn btn-primary">@Messages("wines.new.submit")</button>
                </div>
            </div>
    </form>

        </div>

</div>
    }

}