@(wineForm:Form[Wine])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("wines.form")) {

    <h2>@Messages("wines.form")</h2>

    @helper.form(action = routes.Wines.save()) {
        <fieldset>
            <table>
                <tbody>
                <tr>
                    <td>@inputText(wineForm("wineName"), '_label -> Messages("wine.name") )</td>
                    <td>@inputText(wineForm("wineType"), '_label -> Messages("wine.type") )</td>
                    <td>@inputText(wineForm("wineCountry"), '_label -> Messages("wine.country"))</td>
                </tr>
                <tr>

                    <td>
                        <label for="wineYear">@Messages("wine.year")</label>
                        <input id="wineYear" type="text" list="years" >
                        <datalist id="years" >
                            <option >- Select -</option>
                            <option>1999</option>
                            <option>2000</option>
                            <option>2001</option>
                            <option>2002</option>
                            <option>2003</option>
                        </datalist>


                    </td>
                    <!--
                    <td>@select(field = wineForm("wineYear"), options = options(List(Messages("select.option.select"),"2015","2014","2013","2012","1999", "1998", "1997"))
                        , '_label -> Messages("wine.year") )</td>
                    -->
                    <td>@inputText(wineForm("wineDenomOrigin"), '_label -> Messages("wine.do"))</td>
                    <!-- http://en.wikipedia.org/wiki/List_of_grape_varieties  -->
                    <td>@select(field = wineForm("wineGrapes"), options = options(List(Messages("select.option.select"), "Merlot","Tempranillo","Syrah/Shiraz"))
                        , '_label -> Messages("wine.grapes"))</td>
                </tr>
                <tr>
                    <td colspan="3">@textarea(wineForm("wineDescription"), 'style -> "width:100%", '_label -> Messages("wine.description") )</td>
                </tr>
                <tr>
                    <td>@inputText(wineForm("winePrice"), '_label -> Messages("wine.price") )</td>
                    <td>@inputText(wineForm("wineCeller"), '_label -> Messages("wine.celler") )</td>
                    <td>@inputText(wineForm("wineVender"), '_label -> Messages("wine.vender") )</td>
                </tr>
                <tr>
                    <td>@inputText(wineForm("wineAlcohol"), '_label -> Messages("wine.alcohol") )</td>
                    <td>@inputDate(wineForm("wineDatePurchased"), '_label -> Messages("wine.date.purchased") )</td>
                    <td>@inputDate(wineForm("wineDateOpened"), '_label -> Messages("wine.date.opened") )</td>
                </tr>
                <tr>
                    <td colspan="3">@textarea(wineForm("wineComments"), 'style -> "width:100%", '_label -> Messages("wine.comments")  )</td>
                </tr>
                <tr>
                    <td>@inputDate(wineForm("wineDateInserted"), '_label -> Messages("wine.date.inserted") )</td>
                    <td>@inputDate(wineForm("wineDateLastModified"), '_label -> Messages("wine.date.last.modified") )</td>
                    <td></td>
                </tr>

                </tbody>
            </table>
        </fieldset>
        <p>
            <input type="submit" class="btn primary" value='@Messages("wines.new.submit")'>
        </p>
    }

}