@(wine :Wine)(implicit flash:Flash, lang: Lang)

@main(Messages("wine.details", wine.wineName)) {


<div class="row">
    <div class="col-md-8">
        <h1>@wine.wineName</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-1" title='edit @wine.wineName'>
        <div class="row">
            <div class="col-md-12">
                <a href="@controllers.routes.Wines.edit(wine.wineId)">
                    <img class="media-object img-thumbnail"
                         src='@routes.Assets.at("images/wine-thmb.jpg")'
                         alt='@wine.wineName'
                         title='edit @wine.wineName'>
                </a>
            </div>
        </div>
    </div>

    <div class="col-md-11">
        <div class="row">
            <div class="col-md-1">
                <h4>@wine.wineYear</h4>
            </div>
            <div class="col-md-1">
                <h4>@wine.wineCountry</h4>
            </div>
            <div class="col-md-8">
                <h4>@wine.winePrice &euro;</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10">
                <h4>Description</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-10">
                @wine.wineDescription
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        @wine.wineAlcohol %
    </div>
    <div class="col-md-2">
        @wine.wineVender V
    </div>
    <div class="col-md-2">
        @wine.wineGrapes G
    </div>
    <div class="col-md-2">
        @wine.wineCellar  C
    </div>
    <div class="col-md-2">
        @wine.wineDenomOrigin  D
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <h5>Comments</h5>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="well">
            @wine.wineComments
        </div>
    </div>
</div>


}