@(wines: List[Wine])(implicit flash: Flash, lang: Lang)
@main(Messages("application.name")) {
    <table class="wine">
        <tr>
            <th>@Messages("application.wine.id")</th>
            <th>@Messages("application.wine.name")</th>
            <th>@Messages("application.wine.color")</th>
            <th>@Messages("application.wine.year")</th>
            <th>@Messages("application.wine.denomination")</th>
        </tr>

        @for(wine <- wines) {
            <tr>
                <td>@wine.wineId</td>
                <td>@wine.wineName</td>
                <td>@wine.wineType</td>
                <td>@wine.wineYear</td>
                <td>@wine.wineDenomOrigin</td>
            </tr>
        }
    </table>

    <p>
        <a href="@controllers.routes.Wines.newWine()" class="btn">
            <i class="icon-plus"></i>@Messages("wines.new.command")
        </a>
    </p>
}