@(wineForm:Form[Wine])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("wines.form")) {

<h2>@Messages("wines.form")</h2>

@helper.form(action = routes.Wines.update()) {
<fieldset>
    <input type="hidden" name="wineId" value='@wineForm.data("wineId")'>
    <table>
        <tbody>
        <tr>
            <td>@helper.inputText(wineForm("wineName"), 'size -> 10)</td>
            <td>@helper.inputText(wineForm("wineType"))</td>
        </tr>
        <tr>
            <td>@helper.inputText(wineForm("wineCountry"))</td>
            <td>@helper.textarea(wineForm("wineDescription"))</td>
        </tr>
        <tr>
            <td>@helper.inputText(wineForm("wineYear"))</td>
            <td>@helper.inputText(wineForm("wineGrapes"))</td>
        </tr>
        <tr>
            <td>@helper.inputText(wineForm("winePrice"))</td>
            <td>@helper.inputText(wineForm("wineCeller"))</td>
        </tr>
        <tr>
            <td>@helper.inputText(wineForm("wineDenomOrigin"))</td>
            <td>@helper.inputText(wineForm("wineVender"))</td>
        </tr>
        <tr>
            <td>@helper.inputText(wineForm("wineAlcohol"))</td>
            <td>@helper.inputText(wineForm("wineDatePurchased"))</td>
        </tr>
        <tr>
            <td>@helper.inputText(wineForm("wineDateOpened"))</td>
            <td>@helper.inputDate(wineForm("wineDateInserted"))</td>
        </tr>
        <tr>
            <td>@helper.inputText(wineForm("wineDateLastModified"))</td>
            <td>@helper.inputText(wineForm("wineComments"))</td>
        </tr>
        </tbody>
    </table>
</fieldset>
<p>
    <input type="submit" class="btn primary" value='@Messages("wines.update.submit")'>
</p>
}

}