@(wineForm:Form[Wine])(implicit flash: Flash, lang: Lang)
@import helper._
@import helper.twitterBootstrap._

@main(Messages("wines.form")) {

<h2>@Messages("wines.form")</h2>

@helper.form(action = routes.Wines.update()) {
<fieldset>
    <input type="hidden" name="wineId" value='@wineForm.data("wineId")'>
    <table>
        <tbody>
        <tr>
            <td>@inputText(wineForm("wineName"))</td>   <!-- in-line example -->
            <td>@inputText(wineForm("wineType"))</td>
            <td>@inputText(wineForm("wineCountry"))</td>
        </tr>
        <tr>
            <td>@select(field = wineForm("wineYear"), options = options(List("1999", "1998", "1997")) )</td>
            <td>@inputText(wineForm("wineDenomOrigin"))</td>
            <!-- http://en.wikipedia.org/wiki/List_of_grape_varieties  -->
            <td>@select(field = wineForm("wineGrapes"), options = options(List("Merlot","Tempranillo","Syrah/Shiraz")))</td>
        </tr>
        <tr>
            <td colspan="3">@textarea(wineForm("wineDescription"), 'style -> "width:100%" )</td>
        </tr>
        <tr>
            <td>@inputText(wineForm("winePrice"))</td>
            <td>@inputText(wineForm("wineCeller"))</td>
            <td>@inputText(wineForm("wineVender"))</td>
        </tr>
        <tr>
            <td>@inputText(wineForm("wineAlcohol"))</td>
            <td>@inputDate(wineForm("wineDatePurchased"))</td>
            <td>@inputDate(wineForm("wineDateOpened"))</td>
        </tr>
        <tr>
            <td colspan="3">@textarea(wineForm("wineComments"), 'style -> "width:100%" )</td>
        </tr>
        <tr>
            <td>@inputDate(wineForm("wineDateInserted"))</td>
            <td>@inputDate(wineForm("wineDateLastModified"))</td>
            <td></td>
        </tr>

        </tbody>
    </table>
</fieldset>
<p>
    <input type="submit" class="btn primary" value='@Messages("wines.update.submit")'>
</p>
}

}